.species__title {
    font-weight: bold;
    color: var(--union-subtitle-color);
    font-size: 30px;
    text-align: center;
}

.species__subtitle {
    color: var(--union-description-color);
    font-size: 14px;
    text-align: center;
}

.species__bone-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.species__bone-logo {
    max-width: 50px;
}

.species_carousel-item {
    border: solid 2px var(--carousel-border-color);
    margin: 5px;
    padding: 5px;
    max-width: 325px;
    max-height: 324px;
}

.species__carousel-item-image {
    border-radius: 10rem;
}

.species__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.species__carousel-item-title {
    text-align: center;
    margin: 1rem;
}

.species__carousel-item-explanation {
    color: var(--union-description-color);
    text-align: center;
    font-size: 14px;
    margin: 0.5rem;
}

@media (min-width: 1085px) {
    .species__carousel {
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }
}

@media (min-width: 500px) and (max-width: 1085px) {
    .species__carousel {
        max-width: 1200px;
        display: block;
        padding: 10px;
    }

    .species_carousel-item {
        margin: auto;
    }
}

.advertising__food-subtitle {
    font-size: 14px;
    font-weight: bold;
    color: var(--advertising__subtitle-color);
    padding: 0.5rem;
    text-align: left;
}

.advertising__food-contents {
    color: var(--advertising__contents-color);
    font-weight: bold;
    font-size: 29px;
    /* padding: 0.5rem; */
    text-align: left;
}

.advertising__food-contents-bottom {
    margin-top: -10px;
}

.advertising__discount-contents {
    color: var(--advertising__contents-color);
    font-weight: bold;
    font-size: 29px;
    padding: 1rem;
    text-align: center;
}

.advertising__food-link {
    padding: 0.5rem;
    text-decoration: none;
    color: var(--advertising__link-color);
    border-radius: 13px;
    background-color: var(--advertising__bg-link-color);
    font-weight: bold;
    font-size: 14px;
}

.advertising__food-link:hover {
    color: var(--advertising__link-alt);
    background-color: var(--advertising__bg-link-alt);
}

.advertising__center-link {
    text-align: center;
}

.advertising__food {
    background-image: url(../img/advertising/advertising-dog-food.jpg);
    min-width: 272px;
    min-height: 284px;
    max-width: 570px;
    max-height: 348px;
    margin: 1rem;
    padding: 1rem;
    background-size: cover;
}

.advertising__discount {
    background-image: url(../img/advertising/advertising_bone.jpg);
    min-width: 272px;
    min-height: 284px;
    max-width: 570px;
    max-height: 348px;
    margin: 1rem;
    padding: 1rem;
    background-size: cover;
}

@media (min-width: 1085px) {
    .advertising {
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
    }
}