.arrivals {
    --arrivals-trending__title-color: #3c3731;
    --arrivals-trending__sub-title-color: #958b7e;
    --arrivals-trending__text-price-and-hover-btn-color: #ed6435;
    --arrivals-trending__btn-bg-hover-color: #ffe6d4;
    --arrivals-trending__btn-text-color: #45c1c7;
    --arrivals-trending__btn-bg-text-color: #b2e7e9;
    --arrivals-trending__btn-left-right-bg-color: #3c3739;
    --arrivals-trending__btn-left-right-bg-color-hover: #000;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 90px;
    padding: 90px 25px;
}

.arrivals__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin-bottom: 17px;
}

.arrivals__title {
    font-family: 'Baloo 2', sans-serif, cursive;
    color: var(--arrivals-trending__title-color);
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .arrivals__title {
        font-size: 55px;
    }
}

.arrivals__header>img {
    width: 65px;
    margin-bottom: 17px;
}

.arrivals__subtitle {
    color: var(--arrivals-trending__sub-title-color);
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 25px;
}

@media (min-width: 768px) {

    .arrivals__subtitle {
        font-size: 23px;
    }
}

.arrivals__container {
    position: relative;
}

.arrivals__carousel {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 767px) {
    .arrivals__carousel {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}

@media (min-width: 990px) {
    .arrivals__carousel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 25px;
    }
}

.arrivals__carousel-card {
    display: flex;
    flex-direction: column;
    margin: 20px auto;

}

.arrivals__carousel-card-link>img {
    width: 100%;
    margin-left: 2px;
    margin-right: 90px;
}


.arrivals__carousel-card-product-link {
    text-decoration: none;
    color: var(--arrivals-trending__sub-title-color);
    font-size: 17px;
    font-weight: 400;
}

.arrivals__carousel-card-product-link:hover {
    text-decoration: underline;
}

.arrivals__carousel-card-product-price {
    color: var(--arrivals-trending__text-price-and-hover-btn-color);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;

}

.arrivals__carousel-card-product-button {
    width: 150px;
    height: 50px;
    font-size: 17px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    color: var(--arrivals-trending__btn-text-color);
    background-color: var(--arrivals-trending__btn-bg-text-color);
    border-radius: 30px;
}

.arrivals__carousel-card-product-button:hover {
    color: var(--arrivals-trending__text-price-and-hover-btn-color);
    background-color: var(--arrivals-trending__btn-bg-hover-color);
    transition: color .4s ease-in;

}

.arrivals__carousel-btn-left,
.arrivals__carousel-btn-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -10px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    background-color: var(--arrivals-trending__btn-left-right-bg-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.arrivals__carousel-btn-left:hover,
.arrivals__carousel-btn-right:hover {
    background-color: var(--arrivals-trending__btn-left-right-bg-color-hover);
}

@media (min-width: 990px) {

    .arrivals__carousel-btn-left,
    .arrivals__carousel-btn-right {
        background-color: transparent;
    }

    .arrivals__carousel-btn-left:hover,
    .arrivals__carousel-btn-right:hover {
        background-color: transparent;
    }
}

.arrivals__carousel-btn-left {

    left: 0;

}

.arrivals__carousel-btn-right {
    right: 0;

}