@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&family=Belgrano&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
    --union-description-color: #958b7e;
    --union-subtitle-color: #3c3731;
    --button-text: #45c1c7;
    --btn-bg-text-color: #b2e7e9;
    --background-color-rose: #faf4f2;
    --background-color-white: #ffffff;
    --carousel-border-color: #ffe6d4;
}

main {
    max-width: 980px;
    margin: auto;
}