.btn_button {
    display: block;
    width: 9rem;
    height: 3rem;
    font-family: "PT Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    line-height: 2.5em;
    color: #45c1c7;
    border: none;
    border-radius: 25px;
    background-color: #b2e7e9;
    cursor: pointer;
    margin-top: 24px;
    }
  
  .btn_button:hover {
    background-color: #FFE6D4;
    color: #ED6435;
    transition: all .2s ease;
  }
  