 .button {
    background-color: var(--btn-bg-text-color);
    border: none;
    color: var(--button-text);
    cursor: pointer;
    display: inline-block;
    min-width: 7rem;
    min-height: 2.5rem;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 30px;
}
.button:hover {
    background-color: rgb(44, 24, 223);
}