.footer {
    --footer-tel-color: #ed6435;
    --footer-menu-item-color: #9a9898;
    --footer__media-link-color: #958b7e;
}

.footer__text-tel {
    color: var(--footer-tel-color);
}

.footer__menu-item,
.footer__menu-link {
    color: var(--footer-menu-item-color);
}

.footer__nav-subtitle {
    color: var(--union-subtitle-color);
}

.footer__media-description {
    color: var(--union-description-color);
}

.footer__media-link {
    color: var(--footer__media-link-color);
    font-weight: bold;
}