.footer {
    --footer-tel-color: #ed6435;
    --footer-menu-item-color: #9a9898;
    --footer__media-link-color: #958b7e;
    --footer__text-call-color: #45c1c7;
}

.footer__text-tel {
    color: var(--footer-tel-color);
    text-decoration: none;
}

.footer__text-description {
    color: var(--union-description-color);
}

.footer__text-call {
    color: var(--footer__text-call-color);
}

.footer__text-link {
    color: var(--union-subtitle-color);
    text-decoration: none;
}

.footer__text-link-arrow {
    color: var(--footer__text-call-color);
}

.footer__menu-link {
    color: var(--footer-menu-item-color);
    text-decoration: none;
    display: block;
}

.footer__menu-link:hover {
    text-decoration: underline;
    font-weight: bold;
}


.footer__media-description {
    color: var(--union-description-color);
}

.footer__media-link {
    color: var(--footer__media-link-color);
    font-weight: bold;
}

@media (min-width: 500px) {
    .footer__last-line-elements,
    .footer__nav {
        display: flex;
    }
}

.footer__nav-firstmenu,
.footer__nav-secondmenu,
.footer__nav-thirdmenu {
    margin: 5px;
    padding: 5px;
}

.footer__nav-subtitle {
    color: var(--union-subtitle-color);
    text-align: center;
    font-size: 24px;
}

.footer__nav-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer__menu-link {
    display: block;
    text-align: center;
}