@media (min-width: 810px) {
    .footer__text {
        display: flex;
        padding: 5px;
        margin: 5px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .footer__nav {
        display: flex;
        padding: 5px;
        margin: 5px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .footer__text,
    .footer__nav {
        max-width: 1200px;
        margin: auto;
    }


    .footer__upmenu-form {
        max-width: 33%;
    }
}

.footer__text-tel {
    color: var(--footer-tel-color);
    text-decoration: none;
    margin: 1rem;
    font-weight: bold;
    font-size: 40px;
}

.footer__text-tel:hover {
    color: var(--footer-tel-color);
    text-decoration: underline;
}

.footer__text-tel:hover {
    text-decoration: underline;
    font-weight: bold;
}

.footer__text-description {
    color: var(--union-description-color);
    margin: 1rem;
    font-size: 14px;
}

.footer__text-call {
    color: var(--footer__text-call-color);
    margin: 1rem;
    font-weight: bold;
    font-size: 20px;
}

.footer__text-link {
    color: var(--union-subtitle-color);
    text-decoration: none;
    margin: 1rem;
    font-size: 16px;
}

.footer__text-link:hover {
    text-decoration: underline;
    color: var(--union-subtitle-color);
}

.footer__text-link-arrow {
    color: var(--footer__text-call-color);
}

.footer__menu-link {
    color: var(--footer-menu-item-color);
    text-decoration: none;
    display: block;
}

.footer__menu-link:hover {
    text-decoration: underline;
    font-weight: bold;
}

.footer__email-item {
    display: block;
    width: 90%;
    border-radius: 13px;
    padding: 10px 20px;
    margin: 1rem;
    border-style: none;
}

.footer__form-button {
    color: var(--footer-tel-color);
}

.footer__media-link {
    color: var(--footer__media-link-color);
    font-weight: bold;
}

.footer__media-link:hover {
    color: var(--union-subtitle-color);
}

.footer__nav {
    padding: 5px;
}

@media (min-width: 810px) {
    .footer__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
    }

    .footer__nav-zeromenu {
        max-width: 300px;
    }

}

.footer__nav-subtitle {
    color: var(--union-subtitle-color);
    text-align: center;
    font-size: 24px;
}

.footer__nav-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer__menu-link {
    display: block;
    text-align: center;
}

.footer__media-image {
    max-width: 193px;
    max-height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer__media-description {
    text-align: center;
    color: var(--union-description-color);
    margin: 1rem;
}

.footer__media-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
}

.footer__email-link {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--footer__email-link-bg-color);
    color: var(--footer__email-link-color);
}

.footer__email-link:hover {
    background-color: var(--email-link-alt-bg-color);
    color: var(--union-subtitle-color);
}
