
    .promo__first-block{
        background-color: rgb(250, 244, 242);
    }
    .promo__flex-container{
        display: flex;
    }
    .promo__aquariums{
        display: block;
        text-align: center;
    }
    .promo__aquariums-text{
        font-family: "Baloo 2", cursive;
        font-weight: 700;
        font-size: 30px;
        color: rgb(60, 55, 49);
    }
    .recommendations__title-link{
        font-size: 17px;
        font-weight: 400;
        line-height: 27.2px;
        color: #232323;
        margin: 25;
    }
    .promo__aquariums-background{
        padding-top: 90px;
        padding-bottom: 30px;
    }