#promo{
    background-color: var(--background-color-rose);
}

.promo__first-block{
    margin:0 1em;
    padding: 3em 0 2em 0;
    display: block;
    justify-content: center;
    align-items: center;
}

.promo__flex-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    height: flex;
}

.promo__aquariums{
    background-image: url(https://res2.weblium.site/res/60ab502967fbc80021ebe4fb/60b08f464745c80021b0fe49_optimized_1192?nowebp);
    background-size: cover;
    background-position: center bottom;
    margin: 0 1em 0 1em;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.promo__aquariums-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 7%;
    height: 100%; 
}

.promo__picks{
    display: flex;
    background-image: url(https://res2.weblium.site/res/60ab502967fbc80021ebe4fb/60b08fd202d4170021078c7e_optimized_1595?nowebp);
    background-size: cover;
    background-position: right center;
    margin: 0 1em 0 1em;
    flex-grow: 2;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
}

.promo__aquariums-text{
    font-family: "Baloo 2", cursive;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: var(--union-subtitle-color);
}
    .promo__aquariums-text-procent{
        color: var(--footer-tel-color)
    }
.margin__block{
    display: flex;
    justify-content: center;
}
.recommendations__title-link{
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    color: var(--union-subtitle-color);
    text-decoration-line: none;
    cursor: pointer;
    
}
.recommendations__title-link:hover{
    color: var(--footer-tel-color);
}
    .recommendations__title-link-arrow{
        color: var(--button-text);
    }

.promo__picks-content{
    justify-content: center;
    margin-left: 35px;
}

.promo__picks-subtitle{
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: rgba(35,35,35,0.45);
}

.promo__picks-title{
    font-family: "Baloo 2", cursive;
    font-size: 28px;
    font-weight: 700;
    color: var(--union-subtitle-color);
}

.promo__picks-prise{
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: rgba(35,35,35,0.45);
}
    .promo__prise{
        font-weight: 700;
        color: var(--footer-tel-color);
    }

.button{
    width: 8em;
    height: 3em;
    border-radius: 25px;
    border-color: var(--footer-tel-color);
    border-width: 1px;
    background-color: transparent;
    cursor: pointer;
}
    .button-text{
        font-family: 'PT Sans', sans-serif;
        font-size: 16.5px;
        font-weight: 700;
        color: var(--footer-tel-color);
        text-decoration-line: none;
        
    }

.button:hover{
    background-color: var(--footer-tel-color);
}
    .button-text:hover{
        color: var(--background-color-white);
    }


@media (min-width:990px){
    .promo__flex-container{
        height: 380px;
    }
}

@media(max-width: 750px){
    .promo__aquariums-text{
        font-size: 30px;
    }
    .promo__picks{
        height: 323px;
        width: 100%;
        margin-top: 2em;
    }
}

@media (min-width: 750px){
    .promo__flex-container{
        grid-template-columns: auto auto;
    }
}

@media (min-width: 320px) and (max-width: 430px){
    .promo__aquariums{
        height: 225px;
        width: 100%;
    } 
}

@media (min-width: 430px) and (max-width: 750px){
    .promo__aquariums{
        height: 193px;
        width: 100%;
    }
}

@media (min-width: 750px) and (max-width:990px){
    .promo__flex-container{
        align-content: stretch;
        height: 340px;
    
    }
}






.promo__second-block{
    margin:0 1em;
    padding: 1.5em 0 3em 0;
    display: block;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


.applaws {
    background: #ffe6d4;
}
.tigerino {
    background: #ffe6d4;
}
.gourmet {
    background: #ffe6d4;
}
.felix {
    background: #ffe6d4;
}
.purizon{
    background: #ffe6d4;
}
.rocco {
    background: #ffe6d4;
}
.dokas {
    background: #ffe6d4;
}