.recommendetions {
  text-align: center;
  max-width: 100%;
  margin: auto;
  padding-top: 90px;
  padding-bottom: 90px; 
}

.rec{
  text-align: center;
  font-family: 'Baloo 2';
  font-size: 55px;
  margin-bottom: 15px;
}

.rec_title {
  font-family: 'Baloo 2';
  font-weight: 700;
  font-size: 55px;
  margin-bottom: 15px;
}

.recommendation_card{
  width: 50%;
}

.logo {
  margin-top: 25px;
  text-align: center;
}

.row {
  position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

@media (min-width: 767px) {
  .row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 25px;
  }
}

@media (min-width: 990px) {
  .row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 25px;
  }
}

.recommendation-item{
  margin-right: 15px;
}

.rec_sub_title {
  font-family: "PT sans", sans-serif;
  font-size: 17px;
  color: #958b7e;
  text-align: center;
  margin-top: 20px;
}

.recommendation_card_link{
  text-decoration: none;
}

.rec_img_dogs{
  text-decoration: none;
  font-family: "PT sans", sans-serif;
  font-size: 17px;
  color: #958b7e;
  text-align: center;
  margin-top: 20px;
  margin-right: 35px;
}

.rec_img_dogs:hover {
  cursor: pointer;
  color: black;
  font-weight: 700;
  transition: all .2s ease;
}

.rec_img_cats{
  text-decoration: none;
  font-family: "PT sans", sans-serif;
  font-size: 17px;
  color: #958b7e;
  text-align: center;
  margin-top: 20px;
  margin-right: 35px;
}

.rec_img_cats:hover {
  cursor: pointer;
  color: black;
  font-weight: 700;
  transition: all .2s ease;
}

.rec_img_parrot{
  text-decoration: none;
  font-family: "PT sans", sans-serif;
  font-size: 17px;
  color: #958b7e;
  text-align: center;
  margin-top: 20px;
  margin-right: 35px;
}

.rec_img_parrot:hover {
  cursor: pointer;
  color: black;
  font-weight: 700;
  transition: all .2s ease;
}

.rec_img_hamster{
  text-decoration: none;
  font-family: "PT sans", sans-serif;
  font-size: 17px;
  color: #958b7e;
  text-align: center;
  margin-top: 20px;
  margin-right: 35px;
}

.rec_img_hamster:hover {
  cursor: pointer;
  color: black;
  font-weight: 700;
  transition: all .2s ease;
}

.rec_img_fish{
  text-decoration: none;
  font-family: "PT sans", sans-serif;
  font-size: 17px;
  color: #958b7e;
  text-align: center;
  margin-top: 20px;
  margin-right: 35px;
}

.rec_img_fish:hover {
  cursor: pointer;
  color: black;
  font-weight: 700;
  transition: all .2s ease;
}

.rec_name {
  color: #958b7e;
  font-size: 17px;
  font-weight: 400;
}

.rec_price {
  color: #ed6435;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.rec_button {
  width: 144px;
  height: 48px;
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #45c1c7;
  border: none;
  border-radius: 25px;
  background-color: #b2e7e9;
  cursor: pointer;
  margin-top: 24px;
}

.rec_button:hover {
  background-color: #FFE6D4;
  color: #ED6435;
  transition: all .2s ease;
}

.cat_with_toy {
  margin-top: 100px ;
}

  

  /* Dry_Food */

.treats {
  position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

@media (min-width: 767px) {
  .treats {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 25px;
  }
}

@media (min-width: 990px) {
  .treats {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 25px;
  }
}

.food_title{
  text-align: start;
  font-family: 'Baloo 2';
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 15px;
}

.price_decorator{
  height: 1px;
  margin: 25px 0 0 0;
  flex: 1 1;
  background: #3c3731;
  opacity: .2;
}

.food__price{
  color: #ed6435;
  font-size: 20px;
  font-weight: 700;
  
}

.food__name-title{
  display: flex;
  text-align: start;
  font-family: 'Baloo 2';
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 15px;
}

.dog_food_beef_title{
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

.dog_food_chicken_title{
  display: flex;
}

.dog_food_pork_title{
  display: flex;
}

.cat_food_turkey_title{
  display: flex;
}

.components{
  text-align: start;
  color: #958b7e;
  font-size: 17px;
  font-weight: 400;
}

.dry_food{
  text-align: center;
  font-family: 'Baloo 2';
  font-weight: 700;
  font-size: 55px;
  margin-bottom: 15px;
}

.dry_img{
  width: 120px;
  
}