.carousel-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 120px;
}

@media (min-width: 768px) {
  .carousel-reviews {
    padding-top: 50px;
    padding-bottom: 105px;
  }
}

@media (min-width: 992px) {
  .carousel-reviews {
    padding-top: 50px;
    padding-bottom: 120px;
  }
}

.carousel-reviews__head {
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

.carousel-reviews__title {
  font-family: "Baloo 2", cursive;
  color: #3c3731;
  font-size: 50px;
  text-align: center;
  margin: 0;
}

.carousel-reviews__bone {
  width: 75px;
  margin: 10px auto 0;
}

.carousel-reviews__subtitle {
  font-family: "PT sans", sans-serif;
  font-size: 19px;
  color: #958b7e;
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .carousel-reviews__body-person-img > img {
    width: 70px !important;
    height: 70px !important;
  }

  .carousel-reviews__body-person-name {
    font-size: 22px !important;
  }
}

@media (max-width: 768px) {
  .carousel-reviews__title {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .carousel-reviews__head {
    font-size: 44px;
  }
}
@media (min-width: 600px) {
  .carousel-reviews__body-person {
    height: 500px;
  }
}
@media (min-width: 992px) {
  .carousel-reviews__head {
    font-size: 50px;
  }

  .carousel-reviews__body-person {
    max-width: 336px;
    height: 500px;
  }
}

.carousel-reviews__body {
  display: flex;
  justify-content: space-evenly;

  vertical-align: baseline;
}

.carousel-reviews__body-person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  border: 2px solid #ffe6d4;
}

.carousel-reviews__body-person-img > img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.carousel-reviews__body-person-name {
  color: #3c3731;
  font-family: "Baloo 2", cursive;
  font-size: 21px;

  text-align: center;
}

.carousel-reviews__body-person-pet {
  color: #ed6435 !important;
  font-size: 15px;

  text-align: center;
}

.carousel-reviews__body-person-p {
  color: rgb(142, 142, 142);
  text-align: center;
  width: auto;
}

.carousel-reviews__body-person-date > p {
  color: #3c3731 !important;
  font-size: 15px;

  text-align: center;
}

.products-carousel {
  display: flex;
  justify-content: center;
}

.products-carousel__slide-container {
  display: flex;
  gap: 1.5rem;
}

.products-carousel__prev,
.products-carousel__next {
  align-self: center;
  border: none;
  text-decoration: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.products-carousel__prev > img,
.products-carousel__next > img {
  width: 20px;
}
